@import "../../variables.scss";

.GameOver {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  .results-image {
    margin-bottom: 3rem;
  }
  .points {
    font-size: 36px;
    color: $font-color3;
  }

  .body-results {
    margin-bottom: 3rem;
  }
  .try-again-btn {
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 24px 0 0 0;
    width: fit-content;
    padding: 1rem;
    min-width: 116px;
    height: 56px;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    color: $font-color2;
    border: 1px solid $font-color2;
    font-family: $main-font;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
  }
  .body-results {
    text-align: center;
  }
}
