// Fonts
$main-font: "Poppins", sans-serif;
$secondary-font: "Montserrat", sans-serif;

// Colors

$font-color1: #f2f2f2;
$font-color2: #1d355d;
$font-color3: #6fcf97;

$hover_answer-color: #f9a826;
$wrong_answer-color: #ea8282;
$correct_answer-color: #60bf88;
$questions-color: #2f527b;
$answers-color: #6066d0;
